:root {
    --BorderRadius:4px;
    --Gap:18px;
    --Margin:60px;
    --Docked: -60px;
    --Strock:2px;

    /* colours */
    --Z:#000000;
    --D:#1A1A1A;
    --A:#292428;
    --E:#494444;
    --T:#7a6f6d;
    --G:#a0948e;
    --S:#d9d2ca;
    --B:#f2efed;
    --W:#ffffff;
    /* Real Estate Agents */    --REAAccent:#E5EDFF;--REALight: #6488e2;--REAPure:  #4169e4;--READark:  #1641c5;--REAUmbra: #2e324e;
    /* Landlords */             --LLSAccent:#EAF9FB;--LLSLight: #AFEBF4;--LLSPure:  #5BCDDD;--LLSDark:  #1898AA;--LLSUmbra: #33464c;
    /* Build to rent */         --BTRAccent:#E7FEF0;--BTRLight: #88d7a9;--BTRPure:  #5bb280;--BTRDark:  #336c4b;--BTRUmbra: #33413a;
    /* student */               --BFSAccent:#FFF9E5;--BFSLight: #fcce4c;--BFSPure:  #fec200;--BFSDark:  #ce9d00;--BFSUmbra: #544420;
    /* Developer */             --DEVAccent:#FFECE5;--DEVLight: #fc7247;--DEVPure:  #fd561a;--DEVDark:  #d23c06;--DEVUmbra: #542e25;
    /* International */         --INTAccent:#FFE5E5;--INTLight: #de4f4f;--INTPure:  #db1616;--INTDark:  #ba0000;--INTUmbra: #4d2124;
    /* contractors */           --FFEAccent:#FFE5F9;--FFELight: #ce6fb7;--FFEPure:  #ba539e;--FFEDark:  #a3137c;--FFEUmbra: #462e40;
    /* Absolute Layers ============================================================*/
    /*                      Background          Title               Copy                Accent                  Shadow  */
    /* white */     --WB:  var(--W); --WT:  var(--E);  --WC:  var(--E);   --WA:  var(--S);    --WS:  var(--S);
    /* bone */      --BB:  var(--B); --BT:  var(--E);  --BC:  var(--E);   --BA:  var(--S);    --BS:  var(--S);
    /* stone */     --SB:  var(--S); --ST:  var(--E);  --SC:  var(--A);   --SA:  var(--B);    --SS:  var(--E);
    /* griege */    --GB:  var(--G); --GT:  var(--E);  --GC:  var(--A);   --GA:  var(--S);    --GS:  var(--E);
    /* Typhoon */   --TB:  var(--T); --TT:  var(--B);  --TC:  var(--W);   --TA:  var(--E);    --TS:  var(--A);
    /* Evening */   --EB:  var(--E); --ET:  var(--B);  --EC:  var(--W);   --EA:  var(--A);    --ES:  var(--E);
    /* Aubergine */ --AB:  var(--A); --AT:  var(--S);  --AC:  var(--B);   --AA:  var(--E);    --AS:  var(--D);
    /* Dark */      --DB:  var(--D); --DT:  var(--S);  --DC:  var(--B);   --DA:  var(--E);    --DS:  var(--Z);
  }


.Card{
    padding: var(--Margin);
    gap: var(--Gap);
    /* border-radius: 4px; */
    width: fill;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.main{
    max-width: 1080px;
}
.cd_tb,.Section.cd_tb{
    flex-direction: column;
}
.cd_lr,.Section.cd_lr{
    flex-direction: row;
}
.docked_left{margin-left: var(--Docked);}
.docked_right{margin-right: var(--Docked);}
.docked_bottom{margin-bottom: var(--Docked);}
.docked_top{margin-top: var(--Docked);}
section.gap_spread{
    gap: var(--Margin);
}
.touching_content, section.touching_content{
    gap:0px
}

.AICentre{align-items: center;}
.AIStretch{align-items: stretch;}

.Section{
    padding: 0;
    gap: var(--Gap);
    /* border-radius: 4px; */
    width: fill;
    /* height: 100%; */
    display: flex;
}

.vline{
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
}
.hline{
    height: 2px;
    border-radius: 1px;
    min-height: 2px;
}

.hide_overflow{
    overflow: hidden;
}

.relationship_far{
    gap: var(--Margin);
}
.hug_content, section.hug_content{
    width: fit-content;
    height: fit-content;
}

.Card.padding_tight{
    padding: var(--Gap) var(--Gap);

}
section.gap_tight{
    gap: 4px;
}

.h_scroll{
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none

}
/* Hide scrollbar for IE, Edge and Firefox */


.h_scroll::-webkit-scrollbar {
    display: none;
  }

button.reset{
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    font: inherit; /* Inherit font styles */
    color: inherit; /* Inherit text color */
    cursor: pointer; /* Change cursor to pointer */
    outline: none; /* Remove outline */
    text-align: left;
}


#Body{
    padding: 120px var(--Margin) var(--Margin);
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Margin);
}

header#headermenu{
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    
}
#MenuLinks{
    width: fit-content;
    padding: 25px;
}
header#headermenu > #HeaderSection{
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    min-height: 80px;
    justify-content: space-between;
}
@keyframes slidedown {
    from{ height: 0px;padding: 0;}
    to{height: 40px;padding: 9px;}
    
}
.subMenu{
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 9px;
    gap: var(--Gap);
    overflow: hidden;
    box-sizing: border-box;
    animation: slidedown 0.2s;
    max-height: 40px;
}

header>section{
    height: fit-content;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

button.default_buttons{
    
    padding: var(--Gap);
    border-radius: 4px;
    outline: none;
}

.MenuButton{
    text-decoration: none;
font-family: BrownPro;
}

.MenuButton.Layer_One_Light{
    color: var(--WC);
}
.MenuButton.Layer_One_Dark{
    color: var(--AC);
}
.MenuButton.Layer_Two_Light{
    color: var(--BC);
}
.MenuButton.Layer_Two_Dark{
    color: var(--DC);
}
.MenuButton.Layer_Three_Light{
    color: var(--SC);
}
.MenuButton.Layer_Three_Dark{
    color: var(--TC);
}
.MenuButton.Layer_Four_Light{
    color: var(--GC);
}
.MenuButton.Layer_Four_Dark{
    color: var(--EC);
}
.descreat_card{
    /* border-radius: var(--BorderRadius); */
    overflow: hidden;
    display: flex;
}

.all_br{
    border-radius: var(--BorderRadius);
}
.tl_br{
    border-top-left-radius: var(--BorderRadius);
}
.tr_br{
    border-top-right-radius: var(--BorderRadius);
}
.bl_br{
    border-bottom-left-radius: var(--BorderRadius);
}
.br_br{
    border-bottom-right-radius: var(--BorderRadius);
}

.hover_interaction{
    cursor: pointer;
}


.Shadow_One_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_Two_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--BS);}
.Shadow_Three_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--SS);}
.Shadow_Four_Light{     box-shadow: 0px 0px var(--Gap) 0px var(--GS);}
.Shadow_One_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_Two_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--DS);}
.Shadow_Three_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--TS);}
.Shadow_Four_Dark{      box-shadow: 0px 0px var(--Gap) 0px var(--ES);}

.Inner_Shadow_One_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_Two_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--BS);}
.Inner_Shadow_Three_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--SS);}
.Inner_Shadow_Four_Light{     box-shadow: inset 0px 0px var(--Gap) 0px var(--GS);}
.Inner_Shadow_One_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_Two_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_Three_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--TS);}
.Inner_Shadow_Four_Dark{      box-shadow: inset 0px 0px var(--Gap) 0px var(--ES);}



div.Dot{
    width: var(--Margin);
    height: var(--Margin);
    box-sizing: border-box;
    border-radius: 30px;
}

.multiple_choice_holder{
    display: flex;
    height: var(--Margin);
    width: fill;
    border-radius: var(--BorderRadius);
    outline-offset: -2px;
    
}
.multiple_choice_option{
    padding: var(--Gap);
    border-style: none;
    background-color: none;
    width: fit-content;
}
button.primary_button{
    padding: var(--Gap);
    border-style: none;
    background-color: none;
    width: fill;
    border-radius: var(--BorderRadius);
    outline-offset: -2px;
}

.justify_spread{
    justify-content: space-evenly;
}