:root {
    --BorderRadius:4px;
    --Gap:18px;
    --Margin:60px;
    --Docked: -60px;
    --Strock:2px;

    /* colours */
    --Z:#000000;
    --D:#1A1A1A;
    --A:#292428;
    --E:#494444;
    --T:#7a6f6d;
    --G:#a0948e;
    --S:#d9d2ca;
    --B:#f2efed;
    --W:#ffffff;
    /* Real Estate Agents */    --REAAccent:#E5EDFF;--REALight: #6488e2;--REAPure:  #4169e4;--READark:  #1641c5;--REAUmbra: #2e324e;
    /* Landlords */             --LLSAccent:#EAF9FB;--LLSLight: #AFEBF4;--LLSPure:  #5BCDDD;--LLSDark:  #1898AA;--LLSUmbra: #33464c;
    /* Build to rent */         --BTRAccent:#E7FEF0;--BTRLight: #88d7a9;--BTRPure:  #5bb280;--BTRDark:  #336c4b;--BTRUmbra: #33413a;
    /* student */               --BFSAccent:#FFF9E5;--BFSLight: #fcce4c;--BFSPure:  #fec200;--BFSDark:  #ce9d00;--BFSUmbra: #544420;
    /* Developer */             --DEVAccent:#FFECE5;--DEVLight: #fc7247;--DEVPure:  #fd561a;--DEVDark:  #d23c06;--DEVUmbra: #542e25;
    /* International */         --INTAccent:#FFE5E5;--INTLight: #de4f4f;--INTPure:  #db1616;--INTDark:  #ba0000;--INTUmbra: #4d2124;
    /* contractors */           --FFEAccent:#FFE5F9;--FFELight: #ce6fb7;--FFEPure:  #ba539e;--FFEDark:  #a3137c;--FFEUmbra: #462e40;
    /* Defualt */               --DEFAccent:#FACBCE;--DEFLight: #CB5E65;--DEFPure:  #B7454D;--DEFDark:  #73262b;--DEFUmbra: #382529;

    /* Absolute Layers ============================================================*/
    /*                      Background          Title               Copy                Accent                  Shadow  */
    /* white */     --WB:  var(--W); --WT:  var(--E);  --WC:  var(--E);   --WA:  var(--S);    --WS:  var(--S);
    /* bone */      --BB:  var(--B); --BT:  var(--E);  --BC:  var(--E);   --BA:  var(--S);    --BS:  var(--S);
    /* stone */     --SB:  var(--S); --ST:  var(--E);  --SC:  var(--A);   --SA:  var(--B);    --SS:  var(--E);
    /* griege */    --GB:  var(--G); --GT:  var(--E);  --GC:  var(--A);   --GA:  var(--S);    --GS:  var(--E);
    /* Typhoon */   --TB:  var(--T); --TT:  var(--B);  --TC:  var(--W);   --TA:  var(--E);    --TS:  var(--A);
    /* Evening */   --EB:  var(--E); --ET:  var(--B);  --EC:  var(--W);   --EA:  var(--A);    --ES:  var(--E);
    /* Aubergine */ --AB:  var(--A); --AT:  var(--S);  --AC:  var(--B);   --AA:  var(--E);    --AS:  var(--D);
    /* Dark */      --DB:  var(--D); --DT:  var(--S);  --DC:  var(--B);   --DA:  var(--E);    --DS:  var(--Z);
  }


.Card{
    padding: var(--Margin);
    gap: var(--Gap);
    /* border-radius: 4px; */
    width: fill;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.main{
    max-width: 1080px;
}
.cd_tb,.Section.cd_tb{
    flex-direction: column;
}
.cd_lr,.Section.cd_lr{
    flex-direction: row;
}
.docked_left{margin-left: var(--Docked);}
.docked_right{margin-right: var(--Docked);}
.docked_bottom{margin-bottom: var(--Docked);}
.docked_top{margin-top: var(--Docked);}
section.gap_spread{
    gap: var(--Margin);
}
.touching_content, section.touching_content{
    gap:0px
}

.AICentre{align-items: center;}
.AIStretch{align-items: stretch;}

.Section{
    padding: 0;
    gap: var(--Gap);
    /* border-radius: 4px; */
    width: fill;
    /* height: 100%; */
    display: flex;
}

.vline{
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
}
.hline{
    height: 2px;
    border-radius: 1px;
    min-height: 2px;
}

.hide_overflow{
    overflow: hidden;
}

.relationship_far{
    gap: var(--Margin);
}
.hug_content, section.hug_content{
    width: fit-content;
    height: fit-content;
}

.Card.padding_tight{
    padding: var(--Gap) var(--Gap);

}
section.gap_tight{
    gap: 4px;
}

.h_scroll{
    overflow: visible;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none

}
/* Hide scrollbar for IE, Edge and Firefox */


.h_scroll::-webkit-scrollbar {
    display: none;
  }

button.reset{
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    font: inherit; /* Inherit font styles */
    color: inherit; /* Inherit text color */
    cursor: pointer; /* Change cursor to pointer */
    outline: none; /* Remove outline */
    text-align: left;
}


#Body{
    padding: 120px var(--Margin) var(--Margin);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Margin);
}

header#headermenu{
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    
}
#MenuLinks{
    width: fit-content;
    padding: 25px;
}
header#headermenu > #HeaderSection{
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    min-height: 80px;
    justify-content: space-between;
}
@keyframes slidedown {
    from{ height: 0px;padding: 0;}
    to{height: 40px;padding: 9px;}
    
}
.subMenu{
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 9px;
    gap: var(--Gap);
    overflow: hidden;
    box-sizing: border-box;
    animation: slidedown 0.2s;
    max-height: 40px;
}

header>section{
    height: fit-content;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

button.default_buttons{
    
    padding: var(--Gap);
    border-radius: 4px;
    outline: none;
}

.MenuButton{
    text-decoration: none;
font-family: BrownPro;
}

.MenuButton.Layer_One_Light{
    color: var(--WC);
}
.MenuButton.Layer_One_Dark{
    color: var(--AC);
}
.MenuButton.Layer_Two_Light{
    color: var(--BC);
}
.MenuButton.Layer_Two_Dark{
    color: var(--DC);
}
.MenuButton.Layer_Three_Light{
    color: var(--SC);
}
.MenuButton.Layer_Three_Dark{
    color: var(--TC);
}
.MenuButton.Layer_Four_Light{
    color: var(--GC);
}
.MenuButton.Layer_Four_Dark{
    color: var(--EC);
}
.descreat_card{
    /* border-radius: var(--BorderRadius); */
    overflow: hidden;
    display: flex;
}

.all_br{
    border-radius: var(--BorderRadius);
}
.tl_br{
    border-top-left-radius: var(--BorderRadius);
}
.tr_br{
    border-top-right-radius: var(--BorderRadius);
}
.bl_br{
    border-bottom-left-radius: var(--BorderRadius);
}
.br_br{
    border-bottom-right-radius: var(--BorderRadius);
}

.hover_interaction{
    cursor: pointer;
}


.Shadow_One_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_Two_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--BS);}
.Shadow_Three_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--SS);}
.Shadow_Four_Light{     box-shadow: 0px 0px var(--Gap) 0px var(--GS);}
.Shadow_One_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_Two_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--DS);}
.Shadow_Three_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--TS);}
.Shadow_Four_Dark{      box-shadow: 0px 0px var(--Gap) 0px var(--ES);}

.Inner_Shadow_One_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_Two_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--BS);}
.Inner_Shadow_Three_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--SS);}
.Inner_Shadow_Four_Light{     box-shadow: inset 0px 0px var(--Gap) 0px var(--GS);}
.Inner_Shadow_One_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_Two_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_Three_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--TS);}
.Inner_Shadow_Four_Dark{      box-shadow: inset 0px 0px var(--Gap) 0px var(--ES);}

/* ===================================================== */
.Shadow_REAOne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_REATwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--REALight);}
.Shadow_REAThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--READark);}
.Shadow_REAOne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_REATwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_REAThree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--REAUmbra);}

.Inner_Shadow_REAOne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_REATwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--REALight);}
.Inner_Shadow_REAThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--READark);}
.Inner_Shadow_REAOne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_REATwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_REAThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--REAUmbra);}
/* ===================================================== */
.Shadow_BTROne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_BTRTwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--BTRLight);}
.Shadow_BTRThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--BTRDark);}
.Shadow_BTROne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_BTRTwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_BTRThree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--BTRUmbra);}

.Inner_Shadow_BTROne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_BTRTwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--BTRLight);}
.Inner_Shadow_BTRThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--BTRDark);}
.Inner_Shadow_BTROne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_BTRTwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_BTRThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--BTRUmbra);}
/* ===================================================== */
.Shadow_LLSOne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_LLSTwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--LLSLight);}
.Shadow_LLSThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--LLSDark);}
.Shadow_LLSOne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_LLSTwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_LLSThree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--LLSUmbra);}

.Inner_Shadow_LLSOne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_LLSTwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--LLSLight);}
.Inner_Shadow_LLSThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--LLSDark);}
.Inner_Shadow_LLSOne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_LLSTwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_LLSThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--LLSUmbra);}
/* ===================================================== */
.Shadow_BFSOne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_BFSTwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--BFSLight);}
.Shadow_BFSThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--BFSDark);}
.Shadow_BFSOne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_BFSTwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_RBFShree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--BFSUmbra);}

.Inner_Shadow_BFSOne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_BFSTwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--BFSLight);}
.Inner_Shadow_BFSThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--BFSDark);}
.Inner_Shadow_BFSOne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_BFSTwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_BFSThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--BFSUmbra);}
/* ===================================================== */
.Shadow_DEVOne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_DEVTwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--DEVLight);}
.Shadow_DEVThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--DEVDark);}
.Shadow_DEVOne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_DEVTwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_DEVThree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--DEVUmbra);}

.Inner_Shadow_DEVOne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_DEVTwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--DEVLight);}
.Inner_Shadow_DEVThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--DEVDark);}
.Inner_Shadow_DEVOne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_DEVTwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_DEVThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--DEVUmbra);}
/* ===================================================== */
.Shadow_INTOne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_INTTwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--INTLight);}
.Shadow_INTThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--INTDark);}
.Shadow_INTOne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_INTTwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_INTThree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--INTUmbra);}

.Inner_Shadow_INTOne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_INTTwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--INTLight);}
.Inner_Shadow_INTThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--INTDark);}
.Inner_Shadow_INTOne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_INTTwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_INTThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--INTUmbra);}
/* ===================================================== */
.Shadow_FFEOne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_FFETwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--FFELight);}
.Shadow_FFEThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--FFEDark);}
.Shadow_FFEOne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_FFETwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_FFEThree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--FFEUmbra);}

.Inner_Shadow_FFEOne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_FFETwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--FFELight);}
.Inner_Shadow_FFEThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--FFEDark);}
.Inner_Shadow_FFEOne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_FFETwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_FFEThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--FFEUmbra);}
/* ===================================================== */
.Shadow_DEFOne_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--WS);}
.Shadow_DEFTwo_Light{      box-shadow: 0px 0px var(--Gap) 0px var(--DEFLight);}
.Shadow_DEFThree_Light{    box-shadow: 0px 0px var(--Gap) 0px var(--DEFDark);}
.Shadow_DEFOne_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_DEFTwo_Dark{       box-shadow: 0px 0px var(--Gap) 0px var(--AS);}
.Shadow_DEFThree_Dark{     box-shadow: 0px 0px var(--Gap) 0px var(--DEFUmbra);}

.Inner_Shadow_DEFOne_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--WS);}
.Inner_Shadow_DEFTwo_Light{      box-shadow: inset 0px 0px var(--Gap) 0px var(--DEFLight);}
.Inner_Shadow_DEFThree_Light{    box-shadow: inset 0px 0px var(--Gap) 0px var(--DEFDark);}
.Inner_Shadow_DEFOne_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--AS);}
.Inner_Shadow_DEFTwo_Dark{       box-shadow: inset 0px 0px var(--Gap) 0px var(--DS);}
.Inner_Shadow_DEFThree_Dark{     box-shadow: inset 0px 0px var(--Gap) 0px var(--DEFUmbra);}
div.Dot{
    width: var(--Margin);
    height: var(--Margin);
    box-sizing: border-box;
    border-radius: 30px;
}

.multiple_choice_holder{
    display: flex;
    height: var(--Margin);
    width: fill;
    border-radius: var(--BorderRadius);
    outline-offset: -2px;
    
}
.multiple_choice_option{
    padding: var(--Gap);
    border-style: none;
    background-color: none;
    width: fit-content;
}
button.primary_button{
    padding: var(--Gap);
    border-style: none;
    background-color: none;
    width: fill;
    border-radius: var(--BorderRadius);
    outline-offset: -2px;
}

.justify_spread{
    justify-content: space-evenly;
}

.flex_wrap{
    flex-wrap: wrap;
}


.drop_down{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: var(--BorderRadius);
}
.drop_down .multiple_choice_option{
    width: fill;
}
.drop_down_button{
    width: fill;
}

a.CardButton{
    text-decoration: none;
    height: auto;
    border-radius: var(--BorderRadius);
}

button{
    background: none;
    padding: 0;
    border-style: none;
}
/* button:hover{
    cursor: pointer;
} */

a.fill_fixed,.fill_fixed{
    width: fill;
    min-width: fit-content;
}
.Width_auto{
    width: auto;
}

/* @media only screen and (min-width: 768px) {
    .cd_lr,.Section.cd_lr{
        flex-direction: column;
    }

} */


image.AvitarImage{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #1641c5;
}


.AB_top_right{
    position: fixed;
    right: var(--Margin);
    top: var(--Margin);
}
.text_wrap{
    text-wrap:unset
}

input{
    border-style: none;
    padding: var(--Gap);
    border-radius: var(--BorderRadius);
}